<ul class="collection with-header">
     <li class="collection-header"><h4>전체 브랜드</h4></li>
        <% @brands.each do |brand| %>
        <li class="collection-item"><%= link_to brand.title, brand_path(brand) %></li>
        <% end %>
    <li class="collection-header"><h4><%=@brand.title%> 의 제품들</h4></li>
        <% @brand.products.each do |product| %>
        <li class="collection-item"><%= link_to product.title, product_path(product) %></li>
        <% end %>
    
</ul>